li(data-project=project.slug, style="background-image:url(/images/projects/#{project.slug}-cover.jpg);").project_tile
    .topbar
        a(href=project.full_url, class="project_link")= project.display_url
        h3.project_title= project.title 

    .bottombar
        .technologies
            for tech in project.technologies
                .pill= tech
